$color-primary-0: #314359;	// Main Primary color */
$color-primary-1: #67788D;
$color-primary-2: #475B73;
$color-primary-3: #1E324B;
$color-primary-4: #0F2137;

$color-secondary-1-0: #887A46;	// Main Secondary color (1) */
$color-secondary-1-1: #D7CA99;
$color-secondary-1-2: #AF9F66;
$color-secondary-1-3: #726228;
$color-secondary-1-4: #544511;

$color-secondary-2-0: #885E46;	// Main Secondary color (2) */
$color-secondary-2-1: #D7AF99;
$color-secondary-2-2: #AF8166;
$color-secondary-2-3: #724328;
$color-secondary-2-4: #542911;


/*----------------------------*\
  1. MAIN SETUP
\*----------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #314359;
$secondary-color1: #AF9F66;
$secondary-color2: #AF8166;
$border-color: #67788D;
$primary-text-color: #544511;


body {
  background: $primary-color;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: $primary-text-color;
}

.hide {
  display: none;
}





/*----------------------------*\
  3. PLAYER CHOICE MODAL
\*----------------------------*/

#onePlayer-twoPlayer,
#choose-piece,
#message {
  background-color: rgba(255,255,255, 0.4);
  display: none;
  padding: 25% 0;
  position: fixed;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*----------------------------*\
  4. BOARD
\*----------------------------*/

.game {
  margin: 0 auto;
  height: 450px;
  width: 450px;
  padding-top: 10%;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.square {
  display: inline-block;
  height: 33%;
  width: 32%;
  margin: 0;
}

  // bottom borders
  .top-left,
  .top-center,
  .top-right,
  .mid-left,
  .mid-right    {
    border-bottom: 2px solid $border-color;
  }

  // right borders
  .top-left,
  .top-center,
  .mid-left,
  .bottom-left,
  .bottom-center {
    border-right: 2px solid $border-color;
  }

  // left borders

  .top-center,
  .top-right,
  .mid-right,
  .bottom-center,
  .bottom-right {
    border-left: 2px solid $border-color;
  }

  // top borders

  .mid-right,
  .mid-left,
  .bottom-left,
  .bottom-center,
  .bottom-right {
    border-top: 2px solid $border-color;
  }

  .mid-center {
    border: 2px solid $border-color;
  }





/*----------------------------*\
  5. PIECES
\*----------------------------*/

.x,
.o {
  font-size: 4em;
  line-height: 148px;
  text-align: center;
}

.x {
  color: $secondary-color1;
}

.o {
  color: $secondary-color2;
}
